---
import SiteLayout from "../layouts/SiteLayout.astro";
import ContactCard from "../components/ContactCard.astro";

import githubIcon from "../images/svgs/github-icon.svg";
import linkedinIcon from "../images/svgs/linkedin-icon.svg";
import twitterIcon from "../images/svgs/twitter-icon.svg";
import pencilIcon from "../images/svgs/pencil-icon.svg";
// import bookIcon from "../images/svgs/book-icon.svg";
import downloadIcon from "../images/svgs/download-icon.svg";
import hotDog from "../images/svgs/hot-dog-icon.svg";

import resume from "../images/noah-selis-resume.pdf";

const info = [
    {
        title: "github",
        icon: githubIcon,
        alt: "github icon",
        link: "https://github.com/noahselis",
        target: "_blank",
    },
    {
        title: "linkedin",
        icon: linkedinIcon,
        alt: "linkedin icon",
        link: "https://www.linkedin.com/in/noahselis/",
        target: "_blank",
    },
    {
        title: "email",
        icon: pencilIcon,
        alt: "email icon",
        link: "mailto:noahselis7@gmailcom",
        target: "self",
    },
    {
        title: "twitter",
        icon: twitterIcon,
        alt: "twitter icon",
        link: "https://twitter.com/sortaonlineguy",
        target: "_blank",
    },
    // {
    //     title: "books",
    //     icon: bookIcon,
    //     alt: "book icon",
    //     link: "#",
    //     target: "self",
    // },
    {
        title: "dogs",
        icon: hotDog,
        alt: "hot dog icon",
        link: "#",
        target: "_blank",
    },
    {
        title: "resume",
        icon: downloadIcon,
        alt: "download icon",
        link: resume,
        target: "self",
        download: true,
    },
];
---

<SiteLayout
    title="Noah Selis | Contact"
    logoPadding="3.125rem 0.625rem 0 0.625rem"
>
    <nav class="secondary-nav">
        <ul>
            <li class="about">
                <a href="/about">
                    <p>Who?</p>
                </a>
            </li>
            <li class="work">
                <a href="/work">
                    <p>Work</p>
                </a>
            </li>
            <!-- <li class="blog"> -->
            <!--     <a href="/blog"> -->
            <!--         <p>Blog</p> -->
            <!--     </a> -->
            <!-- </li> -->
        </ul>
    </nav>
    <section class="content-wrapper">
        <div>
            <h1>Drop Me a Dime and Let's Connect!</h1>
            <div class="contact-buttons">
                {
                    info.map((item) => (
                        <ContactCard
                            title={item.title}
                            icon={item.icon}
                            alt={item.alt}
                            link={item.link}
                            target={item.target}
                            download={item.download}
                        />
                    ))
                }
            </div>
        </div>
    </section>
</SiteLayout>

<style>
    body {
        background-color: var(--yellow);
        .content-wrapper {
            h1 {
                font-size: 4rem;
                color: var(--white);
            }
            display: grid;
            place-items: center;
            width: 100%;
            height: 100svh;
            .contact-buttons {
                display: grid;
                overflow-y: auto;
                grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
                gap: 1rem;
                p {
                    margin-bottom: 0;
                }
            }
        }
        header {
            nav.main-nav {
                li.about {
                    display: none;
                }
                li.work {
                    display: none;
                }
                li.blog {
                    display: none;
                }
                li.contact {
                    display: none;
                }
            }
        }
    }
</style>
