---
import SiteLayout from "../layouts/SiteLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import citspo from "../images/discover-spokane-valley-homepage.webp";
import catchIdaho from "../images/catch-idaho-homepage.webp";
import calgold from "../images/california-gold-development-corp-homepage.webp";
import gowen from "../images/gowen-thunder-airshow-homepage.webp";

const projects = [
    {
        src: citspo,
        alt: "discover spokane valley homepage",
        link: "https://discoverspokanevalley.com",
        target: "_blank",
        title: "Discover Spokane Valley",
        description:
            "A tourism site for the city of Spokane Valley, Washington.",
    },
    {
        src: catchIdaho,
        alt: "catch idaho homepage",
        link: "https://catchidaho.org",
        target: "_blank",
        title: "CATCH Idaho",
        description:
            "CATCH is a non-profit made to provide assitance to Boise's homeless population.",
    },
    {
        src: calgold,
        alt: "california gold development corp homepage",
        link: "https://calgolddevelopment.com/",
        target: "_blank",
        title: "California Gold Development Corp",
        description: "A portfolio site for this property development company.",
    },
    {
        src: gowen,
        alt: "gowen thunder airshow homepage",
        link: "https://gowenthunder.org",
        target: "_blank",
        title: "Gowen Thunder Airshow",
        description: "Gowen Thunder Airshow, is an annual military airshow held in Boise, ID.",
    },
];
---

<SiteLayout
    title="Noah Selis | Work"
    logoPadding="3.125rem 0.625rem 0 0.625rem"
>
    <nav class="secondary-nav">
        <ul>
            <li class="about">
                <a href="/about">
                    <p>Who?</p>
                </a>
            </li>
        </ul>
    </nav>
    <section class="content-wrapper">
        <h1>Some stuff I've built that I'm proud of</h1>
        <div class="project-cards">
            {
                projects.map((project) => (
                    <ProjectCard
                        src={project.src}
                        alt={project.alt}
                        link={project.link}
                        title={project.title}
                        description={project.description}
                    />
                ))
            }
        </div>
    </section>
</SiteLayout>

<style>
    body {
        background-color: var(--blue);
        color: var(--white);
        .content-wrapper {
            height: 100svh;
            overflow-y: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 4rem;
            }
            .project-cards {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                column-gap: 1rem;
                row-gap: 4rem;
                gap: 4rem;
                margin-bottom: 4rem;
                @media (width > 1500px) {
                    grid-template-columns: repeat(
                        auto-fill,
                        minmax(400px, 1fr)
                    );
                    gap: 2rem;
                }
            }
        }
        header {
            nav.main-nav {
                li.about {
                    display: none;
                }
                li.work {
                    display: none;
                }
            }
        }
    }
</style>
