---
const { icon, alt, title, link, target } = Astro.props;
---

<a href={link} target={target}>
    <div>
        <span>
            <img width="25px" height="25px" src={icon.src} alt={alt} />
            <p>{title}</p>
        </span>
    </div>
</a>

<style>
    a {
        div {
            display: grid;
            place-items: center;
            border-radius: 1rem;
            border: 3px dashed var(--black);
            padding: 2.4rem 2.4rem;
            background-color: var(--black-30);
            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 0.5rem;
                }
                p {
                    white-space: nowrap;
                }
            }
        }
    }
</style>
