---
const { src, alt, link, title, description } = Astro.props;
import { Image } from "astro:assets";
import BlackPaperPlane from "../images/svgs/paper-plane-black.svg";

import Button from "../components/Button.astro";
---

<div class="work-card">
    <Image src={src} alt={alt} width="535" height="285" />
    <div class="project-info">
        <span>
            <h2>{title}</h2>
            <p>{description}</p>
            <a href={link} target="_blank" rel="noopener noreferrer">
                <Button
                    style="white"
                    text="view project"
                    primaryIcon={BlackPaperPlane}
                />
            </a>
        </span>
    </div>
</div>

<style>
    .work-card {
        background-color: var(--white);
        border-radius: 0.3rem;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 0;
        transition: all 3s ease;
        img {
            width: 100%;
            height: auto;
        }
        .project-info {
            display: grid;
            place-content: center;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--black-80);
            color: var(--white);
            z-index: 1;
            border: 1px solid var(--white);
            border-radius: 0.3rem;
            transition: opacity 0.3s ease;
            padding: 0.75rem;
            span {
                width: fit-content;
                margin: 0 auto;
                text-align: center;
            }
            h2 {
                font-size: 2rem;
                color: var(--white);
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1.25rem;
                color: var(--white);
                margin-bottom: 0.5rem;
            }
        }
        &:hover .project-info {
            opacity: 1;
        }
    }
</style>
